<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF02864D1F4C74CA009B6228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF0286611F4C74CA009B6228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF02866C1F4C74CA009B6228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
